<style>
  a {
    color: inherit;
    text-decoration: inherit;
  }
  .product_image {
    display: block;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    margin-right: 2px;
    box-shadow: 0px 6px 12px rgba(0,0,0,0.3);
    transition: transform 200ms ease-in, box-shadow 200ms ease-in;
    background-color: transparent;
    /* height: 180px; */
  }
  .product_image:after {
    background-image: linear-gradient(90deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.0666667) 4%, rgba(255,255,255,0) 10%, rgba(255,255,255,0) 90%, rgba(0,0,0,0.0666667) 96%, rgba(0,0,0,0.2) 100%);
    content: '';
    border-radius: 3px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 20;
  }

  .product_image_link {
    width: 100%;
    background-color: #fff4;
    border-radius: 3px;
    overflow: hidden;
    margin-right: 6px;
    -o-object-fit: contain;
    object-fit: contain;
    max-width: none; 
    transition: transform 200ms ease-in, box-shadow 200ms ease-in;
  }
  .box_card:hover .product_image {
    box-shadow: 0px 11px 18px rgba(0,0,0,0.3);
    transform: scale(1.025)
  }

  .product_name {
    font-family: GT Super Bold, serif;
    line-height: 1.25;
    color: var(--color-dark-text);
    letter-spacing: -0.1px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
  }
  .product_info {
    padding-left: 8px;
    text-align: left;
    padding-bottom: 4px;
    font-size: 1rem;
    cursor: pointer;
  }

  .product_name {
    font-family: GT Super Bold, serif;
    line-height: 1.25;
    letter-spacing: -0.1px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

  }
  .product_price {
    font-weight: 400;
    font-family:  monospace;
  }

  .product_author {
    font-family: cursive;
  }
</style>
<div class="container mt-4">
  <h1 class="mb-5" >All Product</h1>
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <% products.forEach(function(product ){ %>
      <div style="border-bottom: 1px solid #eae9ed;" class="col">
        <div style="padding-bottom: 28px;" class="box_card d-flex">
          <a href="/product/<%= product.id %>" class="cover col-5">
            <div class="product_image">
              <img class="product_image_link" src="<%= product.image %>" alt="">
            </div>
          </a>
          <a href="/product/<%= product.id %>" class="product_info pt-2 col-7">
            <h5 class="product_name"><%= product.name_product %></h5>
            <p class="product_author"><%= product.author %></p>
            <div class="product_price"><%= product.price %> Vnđ</div>
          </a>
        </div>
          
        </div>
      <% }) %>
  </div>
</div>